body{
    background:url(/interlaced.png);
}
.thin{
    font-weight:300;
}

.shadow{
    box-shadow: 0 1px 4px black;
}

.footer-p{
    position: fixed;
    bottom:0;
    width:100%;
}

.height{
    height:100px;
}

.main-text-color{
    color:#4aaaa5;
}

.margin-left{
    margin-left:200px;
}
.thumbnail{
    background: url(/hero.jpg);
    background-position: center;
    background-size: cover;
}
.box-height{
    height:20vh;
}
.box-h1{
    width:100%;
    background:#4aaaa5;
    color:white;
    height:4vh;
    position: relative;
    top:14vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

.main-border-color{
    border: 4px solid #4aaaa5;
}

.copyright-pos{
    position:relative;
    top:11vh;
    color:white;
    font-size:12px;
    display:flex;
    justify-content:center;
}